html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;

  cursor: none;
  background-image: url("/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: rgba(253, 253, 253, 0.4);
  border-radius: 20px;
  padding: 15px 30px;
  margin: 20px auto;
  width: fit-content;
  display: flex;
  gap: 25px;
  color: #cae5ff;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a {
  color: #cae5ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffffff;
}

.cursor {
  width: 5px;
  height: 5px;
  background-color: white;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transition: transform 0.15s ease;
  mix-blend-mode: difference; /* Optional, for cool effects */
}
